@{
    ViewBag.Title = "PetShop";
}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>


        .bg-2 {
            background-color: #1abc9c;
            color: #ffffff;
        }

        .bg-1 {
            background-color: #474e5d;
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff; 
            color: #555555;
        }

        .bg-4 {
            background-color: #2f2f2f; 
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

    </style>
</head>
<body>

    

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">What we do…</h3>
        <img src="https://threebestrated.co.uk/images/PetsatHome-Plymouth-UK.jpeg" class="img-responsive img-circle margin" style="display:inline" alt="Petshop" width="350" height="350">
        <h4>We stock over 10,000 products and all major brands of pet food and supplies for you to spoil your fur baby!</h4>
        <h4>We offer a unique subscription service called Bottomless Bowl to ensure you never run out of pet food again</h4>
        <h4>We deliver everything straight to your door and offer free delivery on all orders over £19.99</h4>
        <h4>We aim to provide excellent customer service</h4>

    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Our principles…</h3>
        <p>We are an eco-friendly company and are committed to keeping the local area clean. One of the best ways we do this is by reusing boxes to pack your orders - so if it looks like your order is wrong, check inside the box - it might be in there! </p>
        <p>We are dedicated to providing excellent customer service; we believe the customer is always right and we want you to have the best online shopping experience possible. </p>

    </div>

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">Awards</h3><br>
        <div class="row">
            <div >
                <p>We are honoured to have been nominated & to have won several prestigious awards due to our customer service and great loyal pet parent customers. So thank you for making it possible!</p>
                
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
        <p>Project made by Adrian Cinca</p>
    </footer>

</body>
</html>
