
@{
    ViewBag.Title = "Food";
}
@{ int count = 0; }
@foreach (var food in ViewBag.Food)
{

    if (count < 3)
    {
        <div class="panel-body">

            <p class="top-10">Id: @food.Id</p>

            <p class="top-10">Name: @food.ProductName</p>

            @if (food.Diet == true)
            {
                <p class="top-10">Diet: yes</p>
            }
            else
            {
                <p class="top-10">Diet: no</p>
            }


        </div>
    }
    count++;

}
