
@{
    ViewBag.Title = "Food";
}

@foreach (var food in ViewBag.Food)
{
    
        <div class="panel-body">

            <p>Id: @food.Id</p>

            <p>Name: @food.ProductName</p>
            
            @if (food.Diet == true)
            {
                <p>Diet: yes</p>
            }
            else
            {
                <p>Diet: no</p>
            }
                

        </div>
    
}
