
@{
    ViewBag.Title = "Hamster";
}

<h2>Aici vor fi hamsterii</h2>

@* @foreach (var hamster in ViewBag.Hamsters) *@
@* { *@
@*     <div class="panel-body"> *@
@*         @Html.Label("Id:", "Breed:") *@
@*         <br /> *@
@*         <p>@hamster.Id</p> *@
@*         <br /> *@
@*         <p>@hamster.Breed</p> *@
@*     </div> *@
@* } *@
