@{
    ViewBag.Title = "New";
}

@model PetShop.Models.Toy

@using (Html.BeginForm(actionName: "New", controllerName: "Toys", method: FormMethod.Post))
{

    @Html.Label("Name: ")
    <br />
    @Html.TextBoxFor(b => b.ProductName, null, new { placeholder = "Type in the hamster's toy name", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.ProductName, "", new { @class = "text-danger" })
    <br />

    // TODO: Add hamster dropdown
    <button class="btn btn-primary" type="submit">Create</button>
}